<!doctype html>
<html>
	<head>
		<title>Ajout d'un kit</title>
		<meta charset="iso-8859-1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="../../assets/ico/favicon.ico" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<ul class="nav navbar-nav">
				<li><a href="accueil1.html">Accueil</a></li>
				<li><a href="insCon.html">Inscription / Connexion</a></li>
				<li  class="active"><a href="catalogue.html">catalogue</a></li>
			</ul>
		</nav>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<center><h3 class="panel-title">Ajout d'un kit de survie</h3></center>
				</div>
				<div class="panel-body" >
					<form method="post" action="#" class="form-horizontal" role="form">
						<div class="form-group">
							<label for="texte" class="col-sm-2 control-label">Nom du kit</label>
							<div class="col-sm-10">
								<input name="login" type="text" placeholder="Kit pour catastrophe naturel" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="texte" class="col-sm-2 control-label">Produit 1:</label>
							<div class="col-sm-10">
								<input name="login" type="text" placeholder="produit 1" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="texte" class="col-sm-2 control-label">Produit 2:</label>
							<div class="col-sm-10">
								<input name="login" type="text" placeholder="produit 2" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="login" class="col-sm-2 control-label">Produit 3:</label>
							<div class="col-sm-10">
								<input name="login" type="text" placeholder="produit 3" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="texte" class="col-sm-2 control-label">Produit 4:</label>
							<div class="col-sm-10">
								<input name="login" type="text" placeholder="produit 4" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="texte" class="col-sm-2 control-label">Produit 5:</label>
							<div class="col-sm-10">
								<input name="login" type="text" placeholder="produit 5" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="mdp" class="col-sm-2 control-label">Prix</label>
							<div class="col-sm-10">
								<input id="mdp" name ="mdp" type="password" placeholder="20€" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info center-block">Valider</button>
						</div>
					</form>
				</div>
			</div>
	</body>
</html>