@main("Team-MIA") {


} {


<div class="bs-docs-masthead">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:justify;">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img class="img-responsive" src="images/kitAttentat.jpg" alt></a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Description</h5>
                        <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere.
                            in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius</p>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <h5 style="text-align: center;">Prix</h5>
                        <h5 style="text-align: center;">15,00 €</h5>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <a href="#" class="btn btn-primary" role="button">Sélectionner</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:justify;">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img class="img-responsive" src="images/kitAttentat.jpg" alt></a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Description</h5>
                        <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere.
                            in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius</p>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <h5 style="text-align: center;">Prix</h5>
                        <h5 style="text-align: center;">15,00 €</h5>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <a href="#" class="btn btn-primary" role="button">Sélectionner</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:justify;">
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img class="img-responsive" src="images/kitAttentat.jpg" alt></a>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <h5>Description</h5>
                        <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere.
                            in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius</p>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <h5 style="text-align: center;">Prix</h5>
                        <h5 style="text-align: center;">15,00 €</h5>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <a href="#" class="btn btn-primary" role="button">Sélectionner</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="text-align:justify;">
                <p>Sélectionner les élements dont vous avez besoin.</p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Eau
                    </label>
                    <label>
                        <input type="checkbox"> Couche
                    </label>
                    <label>
                        <input type="checkbox"> Pile
                    </label>
                    <label>
                        <input type="checkbox"> Nouritture
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Sélectionner</button>
            </div>
        </div>
    </div>
</div>
}