@main("Team-MIA") {


} {
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:justify;">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <img class="img-responsive" src="@routes.Assets.versioned("images/Topelement.png")" alt></a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>Attentat: Kit de survie</h3>
                            <h5>Description</h5>
                            <p>Ce kit de survie permet de de rester confiné chez-soi muni d'article de consommation. Il se compose de : </p>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <h5 style="text-align: center;">Prix</h5>
                            <h5 style="text-align: center;">15,00 €</h5>
                        </div>
                        <div class="col-sm-6 col-md-2">
                            <a href="#" class="btn btn-primary" role="button">Sélectionner</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel panel-default">
                    <div class="panel-body" style="text-align:justify;">
                        <p>Sélectionner les élements dont vous avez besoin.</p>
                        <div class="checkbox">
                            <div class="enfant">
                                <label>
                                    <input type="checkbox"> Couche
                                </label>
                                <label>
                                    <input type="checkbox"> Petit pot
                                </label>
                            </div>
                            <div class="vivre">
                                <label>
                                    <input type="checkbox"> Nourriture non périssable
                                </label>
                                <label>
                                    <input type="checkbox"> Eau
                                </label>

                            </div>
                            <div class="materiel">
                                <label>
                                    <input type="checkbox"> Pile
                                </label>
                                <label>
                                    <input type="checkbox"> Réchaud
                                </label>
                                <label>
                                    <input type="checkbox"> Lampe torche
                                </label>
                                <label>
                                    <input type="checkbox"> Kit médical
                                </label>
                                <label>
                                    <input type="checkbox"> Sifflet
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sélectionner</button>
                    </div>
                </div>
            </div>
        </div>
}