@(message: String)

@main("Team-MIA") {



} {
    <div class="bs-docs-masthead">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item" >
                    <img src="@routes.Assets.versioned("images/attentat.jpg")"  width="100%" style="height:500px"  alt="Application">
                </div>
                <div class="item active"  >
                    <img src="@routes.Assets.versioned("images/newseisme.jpg")"  width="100%" style="height:500px"alt="Exercice">
                </div>
                <div class="item" >
                    <img src="@routes.Assets.versioned("images/newtsunami.jpg")" width="100%" style="height:500px" alt="Exercice">
                </div>
            </div>
                <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="bs-docs-featurette" style="background-color: gray;">
        <div class="panel panel-default">
            <h3 style="text-align : center;">
                Présentation
            </h3>
            <div class="panel-body" style="text-align:center;">
                <p>Dans le cadre de la gestion de crise durant des catastrophes naturelles ou bien des attentats, E-save permet à tous ses utilisateurs de se fournir en kits de survie adaptés à la situation de celui-ci.
                    Il se compose de biens de première utilité telles que des denrées et des articles de premiers secours.
                    Nos produits sont destinés aux sinistrés. Ils sont commandé par des particuliers à titre de prévention ou bien de don à une association.
                    Lors de sinistres, les organisations de gestion de crises seront fournies en priorité afin qu'ils puissent redistribuer le kit adéquat aux sinistrés.
                    E-save propose à ses clients des kits par défaut ainsi que des kits personnalisables afin de s'adapter aux différents aléas liés aux sinistres.
                </p>
                <br/>
            </div>
        </div>
    </div>
    <div class="bs-docs-featurette" >
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <h4 style="text-align : left;">
                        Présentation Application
                    </h4>
                    <p>
                        Afin de se fournir en kit de survie, nos clients se connectent à notre plate-forme interative et sélectionne son kit ainsi que des arcticle additionnel s'il le souhaite.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%23MGSU%20%23Urgences%20%23Gestiondecrise%20%23M%C3%A9diassociaux%20%23CrowdHelp%20%23R%C3%A9silience" data-widget-id="672582951461326848">Tweets sur #MGSU #Urgences #Gestiondecrise #Médiassociaux #CrowdHelp #Résilience</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>            </div>
        </div>
    </div>

}