@main("Team-MIA") {


} {

    <div class="bs-docs-featurette" style="background-color: g">
        <div class="panel panel-default">
            <h3 style="text-align : center;">QUE FAIRE, EN CAS D'ALERTE POUR AGIR AU MIEUX ?</h3>
            <div class="panel-body" style="text-align:justify;">
                <p>

            <div class="panel panel-default" style="margin-left:5%; margin-right:5%">
                <div class="panel-heading"><h3>Introduction</h3></div>
                <div class="panel-body">
                    Une catastrophe naturelle majeure, par définition, est une épreuve qui désorganise la société et laisse l'individu seul face à la crise pendant un temps plus ou moins long. Pour la surmonter, il est essentiel d'éviter de vous mettre en danger et de limiter les dégâts éventuels sur vos biens.
                    La mesure de mitigation la plus efficace est un comportement responsable, adapté aux circonstances et respectueux des consignes, pendant tout le temps de l'alerte et à l'occasion du retour à la normale.

                </div>
            </div>

            <div class="panel panel-default" style="margin-left:5%; margin-right:5%">
                    <div class="panel-heading"><h3>Vos handicaps</h3></div>
                    <div class="panel-body">
                        - Le stress<br>
                        - La désorganisation des services publics<br>
                        - Le délai de mise en œuvre des secours<br>
                        - La situation d'isolement<br>                    </div>
            </div>

            <div class="panel panel-default" style="margin-left:5%; margin-right:5%">
                    <div class="panel-heading"><h3>Vos atouts</h3></div>
                    <div class="panel-body">
                        - Une bonne organisation et anticipation<br>
                        - Les recommandations des pouvoirs publics<br>
                        - L'entraide avec votre voisinage<br>
                    </div>
            </div>

            <div class="panel panel-default" style="margin-left:5%; margin-right:5%">
                    <div class="panel-heading"><h3>Consignes générales</h3></div>
                    <div class="panel-body">
                        Voici les consignes pour votre sauvegarde et celle de votre famille: ce que vous devez faire et ne pas faire.
                        Ces consignes générales correspondent aux risques dont vous êtes prévenus par le signal national d'alerte voire par d'autres moyens appropriés (hauts-parleurs...).<br>

                        Pour chaque risque, les consignes de sauvegarde, comme celles relatives à la protection de vos biens varient.

                        Il est important que vous adaptiez votre comportement au risque encouru, en allant prendre connaissance des mesures spécifiques de sauvegarde et de protection.<br>
                        - Mettez hors de danger les biens pouvant être déplacés<br>
                        - Installez vos mesures de protection provisoires<br>
                        - Coupez vos réseaux : électricité, gaz, téléphone<br>
                        - Emportez les équipements minimums :<br>
                        - radio portable avec piles<br>
                        - lampe de poche<br>
                        - eau potable<br>
                        - papiers personnel<br>
                        - médicaments urgents<br>
                        - couvertures<br>
                        - vêtements de rechange<br>
                        - matériels de confinement.....<br>
                    </div>
            </div>


            <div class="panel panel-default" style="margin-left:5%; margin-right:5%">
                    <div class="panel-heading"><h3>Que faire ?</h3></div>
                    <div class="panel-body">
                       <h4> Au moment  de l'alerte</h4>
                        - Mettez-vous à l'abri selon les modalités prévues par les autorités (Arrêté affichage du risque) et le Plan familial de mise en sûreté (PFMS) que vous avez établi<br><br>
                        Selon le cas, confinez-vous :<br>
                        - Rejoignez le bâtiment le plus proche<br>
                        - Rendez le local "étanche"<br>
                        - Ne cherchez pas à rejoindre les membres de votre famille (ils sont eux aussi protégés)<br>
                        - Suivez les consignes données par la radio<br>
                        - Ne sortez qu'en fin d'alerte ou sur ordre d'évacuation.<br><br>
                        <h4>Pendant la crise</h4>
                        -Informez-vous : écoutez la radio : les premières consignes seront données par les radios conventionnés notamment Radio-France.<br>
                        - Informez le groupe dont vous êtes responsable.<br>
                        - Respectez les consignes en particulier : maîtrisez votre comportement et celui des autres, aidez les personnes âgées et handicapées, ne téléphonez pas, ne fumez pas.<br><br>
                        <h4> Après la crise</h4>

                        - Informez-vous : écoutez et suivez les consignes données par la radio et les autorités.<br>
                        - Informez les autorités de tout danger observé.<br>
                        - Apportez une première aide à vos voisins :<br>
                        - Pensez aux personnes âgées et handicapées.<br>
                        - Mettez-vous à la disposition des secours<br>
                        - Ne rentrez pas chez vous sans l'autorisation d'une personne agréée<br>
                        - Ne téléphonez pas ni rebranchez les réseaux sans l'autorisation d'un spécialiste<br>
                        - Ne consommez pas l'eau et la nourriture sans autorisation des services sanitaires<br><br>
                        <h4>Evaluez :</h4>
                            - Vos dégâts,<br>
                            - Les points dangereux (éloignez-vous en).<br>
                            - Remettez en état votre habitation et mettez en œuvre les mesures de mitigation que vous projetez d'adopter<br>
                            - Entamez vos démarches d'indemnisation<br>

                    </div>
            </div>

            </div>
        </div>
    </div>














}