@(title: String)(sidebar: Html)(content: Html)
<!DOCTYPE html>

<html lang="en">
    <head>

        <title>@title</title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >

            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" >

            <!-- Latest compiled and minified JavaScript -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>





    </head>


    <body>
        <section>
            @sidebar
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Accueil</a></li>
                <!--<li><a href="insCon.html">Inscription / Connexion</a></li>-->
                <li><a href="/kits">Accéder aux kits</a></li>
                <li><a href="/infos">Informations pratiques</a></li>
            </ul>
        </nav>
        </section>

        <section>@content</section>

    </body>


    <script language="Javascript">


        function selectionProduit(produit)
        {
           document.getElementById('valeurboutton').value = produit;

        }



        $("#bouton1").click(function(e) {
            e.preventDefault();
            $("#eau").slideDown("slow");
            $("#couche").slideUp("slow");
            $("#pile").slideUp("slow");
        });
        $("#bouton2").click(function(e) {
            e.preventDefault();
            $("#couche").slideDown("slow");
            $("#eau_mineral").slideUp("slow");
            $("#pile").slideUp("slow");
        });
        $("#bouton3").click(function(e) {
            e.preventDefault();
            $("#pile").slideDown("slow");
            $("#eau").slideUp("slow");
            $("#couche").slideUp("slow");
        });



    </script>


</html>
