@(products: java.util.List[Product])

@main("Team-MIA") {


} {

  <!-- Historique des voeux de l'utilisateur -->
  <div class="col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Historique des produits </h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">

          <tr>
            <th> Image </th>
            <th> Nom </th>
            <th> Prix </th>
            <th> Description </th>
            <th> Quantite </th>
            <th> Action </th>
          </tr>
          @for(productList <- products) {
            <tr id="prod">
              <td>  <img class="img-responsive" src="@productList.getMainImageUrl"/> </td>
              <td> @productList.getName </td>
              <td> @productList.getSalePrice € </td>
              <td> @productList.getDescription </td>
              <td> <input type="text" id="quantite"> </input> </td>
              <td>  <button id="bouton3" type="button" class="btn btn-primary" style="width: 150px;" onclick="addToCart('pile')">Ajouter au panier</button></td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div> <!-- Fin Historique -->









}