@main("Team-MIA") {


} {
    <div class="bs-docs-masthead">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body" style="text-align:justify;">
                    <div class="row">
                        <div class="col-xs-6 col-md-3">
                            <img class="img-responsive" src="@routes.Assets.versioned("images/kitAttentat.jpg")" alt></a>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <h3>Séisme: Kit de survie</h3>
                            <h5>Description</h5>
                            <p>Conçu pour être utilisé en cas de sinistre de type séisme. Il contient les articles suivants:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="container">
                <h3>Sélectionner les élements dont vous avez besoin.</h3>

                <div class="centrer">
                    <button id="bouton1" type="button" class="btn btn-primary" style="width: 180px;" onclick="selectionProduit('Couvertures de survie')">Couvertures de survie</button>
                    <button id="bouton2" type="button" class="btn btn-primary" style="width: 180px;" onclick="selectionProduit('Pansement')">Pansements</button>
                    <button id="bouton3" type="button" class="btn btn-primary" style="width: 180px;" onclick="selectionProduit('Barquette alimentaire')">Barquettes alimentaires</button>
                </div>


                <div id="eau" style="display: none" class="centrer_decaller">

                    <div class="panel panel-default" >
                        <div class="panel-body">
                            <h3><span style="color: #0f0f0f"> Courverture </span></h3>

                            <form id="formEau" action="/produits" method="post">
                                <div class="form-group">
                                    <label for="sel1" style="color: #0f0f0f; width: 50%;">Sélectionner le critère de filtrage </label>
                                    <select class="form-control" id="Liste" name="Liste">
                                        <option value="relevance">Par pertinence</option>
                                        <option value="minPrice">Par prix minimum</option>
                                        <option value="maxPrice">Par prix maximum</option>
                                        <option value="rating">Le mieux noté</option>
                                    </select>
                                </div>


                                <input type="hidden" name="valeurboutton" id="valeurboutton" value="Couverture">
                                <input type="submit" value="envoyer" class="noir"/>
                            </form>

                        </div>
                    </div>

                </div>

                <div id="couche" style="display: none" class="centrer_decaller">

                    <div class="panel panel-default" >
                        <div class="panel-body">
                            <h3><span style="color: #0f0f0f"> Pansements </span></h3>

                            <form id="formCouche"  action="/produits" method="post">
                                <div class="form-group">
                                    <label for="sel1" style="color: #0f0f0f; width: 50%;">Sélectionner le critère de filtrage </label>
                                    <select class="form-control" id="Liste" name="Liste">
                                        <option value="relevance">Par pertinence</option>
                                        <option value="minPrice">Par prix minimum</option>
                                        <option value="maxPrice">Par prix maximum</option>
                                        <option value="rating">Le mieux noté</option>
                                    </select>
                                </div>


                                <input type="hidden" name="valeurboutton" id="valeurboutton" value="Pansement">
                                <input type="submit" value="envoyer" class="noir"/>
                            </form>
                        </div>
                    </div>
                </div>



            </div>

            <div id="pile"  style="display: none" class="centrer_decaller">

                <div class="panel panel-default" >
                    <div class="panel-body">
                        <h3><span style="color: #0f0f0f"> Barquette alimentaire </span></h3>

                        <form id="formPile" name="formPile"  action="/produits" method="post">
                            <div class="form-group">
                                <label for="sel1" style="color: #0f0f0f; width: 50%;">Sélectionner le critère de filtrage </label>
                                <select class="form-control" id="Liste" name="Liste">
                                    <option value="relevance">Par pertinence</option>
                                    <option value="minPrice">Par prix minimum</option>
                                    <option value="maxPrice">Par prix maximum</option>
                                    <option value="rating">Le mieux noté</option>
                                </select>
                            </div>

                            <input type="hidden" name="valeurboutton" id="valeurboutton" value="Barquette alimentaire">
                            <input type="submit" value="envoyer" class="noir"/>
                        </form>
                    </div>
                </div>

            </div>


            <div>
                <form action="/produits/commande" method="post">
                    <input type="submit" value="Voir le panier">
                </form>
            </div>

        </div>

    </div>

}